.venv/
rendered/
augraphy_cache/
labels.json
synthetic_records.json
rendered2/
*.zip
rendered_multi/
rendered3/
extras/
test_5_multi/
*.xml
__pycache__/
.vscode/
syn_output_800/
synthetic_records_200.json
synthetic_records_800.json

